<div class="items-wrapper">
  <% if current_user.rooms.present? %>
    <% rooms.each do |room| %>
      <div class="item-wrapper">
        <div class="item">
          <%= room.name %>
          <div class="item-controls">
            <%= button_to "Join", room_path(room), method: :get, data: {turbo: false}, class: "button-green" %>
            <span>|</span>
            <%= button_to "Exit", exit_room_path, method: :delete, params: {room_id: room}, form: {data: {turbo_confirm: "Are you sure?"}}, class: "button-red" %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="no-data-title">
      Nothing Found
    </div>
  <% end %>
</div>
