<div class="estimates-wrapper">
  <% room.estimates.split(",").each do |estimate| %>
    <%= button_to estimate_path(estimate), method: :put, disabled: user_estimate(user, room) == estimate, params: {room_id: room, estimate: estimate},
     class: "estimate-card #{user_estimate(user, room) == estimate ? "estimate-card-active" : ""}" do %>
      <span class="estimate-card-title"><%= estimate %></span> 
     <% end %>
  <% end %>
</div>
