.button {
  width: max-content;
  padding: 0;
  font-size: var(--font-size);
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: black;
  transition: background-color .5s, color .3s;
}

.button:hover {
  color: var(--blue);
}

.button:active {
  color: black;
  background-color: transparent;
}

.room-buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3rem 0;
}

.button-active {
  background-color: grey;
  border-color: black;
}
