.flash-wrapper {
  align-items: center;
  background-color: lightblue;
  border-radius: 1rem;
  color: var(--blue);
  display: flex;
  font-size: var(--font-size);
  gap: 1rem;
  padding: .5rem 1.5rem;
  position: fixed;
  right: 0;
  top: 1rem;
  z-index: 2;
}

.flash-wrapper .button {
  margin-top: 5px;
}
