.profile-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.profile-name-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.profile-name-wrapper svg {
  margin-top: 4px;
}
