::-webkit-scrollbar {
  width: 4px;
 }

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: black;
}
